.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-Facebook {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-Vkontakte {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-bag {
	font-size:(48/10)*1rem;
	width:(48/48)*1em;
}
.icon-check {
	font-size:(12/10)*1rem;
	width:(16/12)*1em;
}
.icon-chevron-down {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-close {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-document {
	font-size:(48/10)*1rem;
	width:(48/48)*1em;
}
.icon-envelope {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-file-upload {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-hand-wolrd {
	font-size:(48/10)*1rem;
	width:(48/48)*1em;
}
.icon-human-document {
	font-size:(48/10)*1rem;
	width:(48/48)*1em;
}
.icon-instagram {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-logo {
	font-size:(24/10)*1rem;
	width:(100/24)*1em;
}
.icon-right {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-right-wh {
	font-size:(24/10)*1rem;
	width:(25/24)*1em;
}
