@import "_fonts";
//@import "bootstrap-grid";
@import "mixin";
//@import "_sprite";
@import "normalize";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  font-family: "Jost", sans-serif;
  scrollbar-width: thin;
}
.wrapper-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  ul,
  ol {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
  }
  li {
    margin: 0;
    text-decoration: none;
    padding: 0;
    list-style: none;
  }
}
select::-moz-placeholder {
  opacity: 1;
}
textarea::-moz-placeholder {
  opacity: 1;
}
input::-moz-placeholder {
  opacity: 1;
}
.content {
  flex: 1 0 auto;
  margin-top: 48px;
}
button,
a {
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
.web-check label {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: start;
  cursor: pointer;
  position: relative;
  gap: 15px;
}
.web-check .check-style {
  border: 1px solid #9498a6;
  width: 20px;
  height: 20px;
  border-radius: 2px;
}
.web-check .check-box {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.web-check .check-box:checked + .check-style {
  background-image: url(../img/icons/icons.svg#check);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: $main;
}
.btn {
  @include no-button;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding: 12px 24px;
  background: #78cbff;
  border-radius: 8px;
  &:hover,
  &:focus {
    background: #92d5ff;
  }
  .btn-secondary {
    background: #fff;
    color: $main;
    border: 1px solid #78cbff;
    &:hover,
    &:focus {
      background: #eff9fb;
    }
    &.disable {
      color: #9498a6;
      background: #fff;
      border: 1px solid #c3c6d0;
    }
  }
  &.small {
    padding: 4px 16px;
  }
  &.disable {
    color: #ffffff;
    background: #c3c6d0;
  }
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background: #fff;
}
.header.sticky {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.header-box-logo {
  display: flex;
  align-items: center;
  img {
    width: 100px;
    height: 24px;
    object-fit: cover;
  }
}
.header-inner {
  display: flex;
  justify-content: start;
  justify-content: space-between;
}
.header-box-feedback {
  span {
    display: none;
  }
  img,
  svg {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
}

.btn.circle {
  padding: 6px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-box {
  display: flex;
  align-items: center;
}
.menu-btn {
  @include no-button;
  width: 32px;
  cursor: pointer;
  height: 32px;
  margin-left: 16px;
  opacity: 1;
  span {
    display: block;
    width: 24px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      #263066;
    height: 1.5px;
    transition: 0.5s;
    &.menu-btn-medium {
      width: 12px;
    }
    & + span {
      margin-top: 5.5px;
    }
  }
  svg {
    display: none;
  }
  &.active {
    margin-left: 20px;
    span {
      display: none;
    }
    svg {
      display: block;
      width: 20px;
      height: 20px;
    }
  }
}
body.no-scroll-mobile {
  overflow: hidden;
}
.header-menu {
  position: fixed;
  right: -555px;
  transition: 0.35s;
  top: 48px;
}
.header-menu.active {
  right: 0;
  padding-top: 12px;
  z-index: -1;
  width: 100%;
  background: #f7f9ff;

  flex-direction: column;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 48px);
}
.header-menu-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 25px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header-menu-footer-copy {
  font-size: 14px;
  line-height: 20px;
  color: #9498a6;
}
.navigation-icons {
  display: flex;
  gap: 8px;
  a {
    display: block;
    &:hover,
    &:focus {
      svg {
        color: #78cbff;
        path {
          fill: #78cbff;
        }
      }
    }
    img,
    svg {
      width: 24px;
      height: 24px;
      object-fit: cover;
      color: #9498a6;
    }
  }
}
.header-wrapper {
  padding: 8px 0;
}
.mobile-navigation-sub-menu {
  max-height: calc(100vh - 148px);
  overflow: auto;
}
.header.open-menu {
  .header-wrapper {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
}
.mobile-navigation-box {
  width: 100%;
  flex: 1 0 auto;
}
.mobile-navigation-box > ul {
  max-height: calc(100vh - 129px);
  overflow: auto;
  height: 100%;
}
.mobile-navigation-sub-position {
  display: block;
  position: absolute;
  z-index: 10;
  top: 0;
  right: -100%;
  width: 100%;
  background: #f7f9ff;
  transition: 0.25s linear;
  overflow: hidden;
  height: 100vh;
  &.active {
    right: 0;
  }
}
.header-menu ul > li > a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333;
  padding: 12px 0;
  background: 0 0;
  width: 100%;
  display: block;
  color: $main;
  span {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    width: 100%;
    display: block;
  }
}
.header-menu ul > li > a:hover,
.header-menu ul > li > a:focus {
  background: #78cbff;
  color: #fff;
  font-weight: 600;
}
.mobile-navigation-sub-menu-heading {
  padding-top: 24px;
  padding-bottom: 20px;
  display: block;
}
.mobile-navigation-menu span.mobile-navigation-sub-menu-heading-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: $main;
  position: relative;
  display: block;
}
.mobile-navigation-menu span.mobile-navigation-sub-menu-heading-title:after {
  content: "";
  position: absolute;
  top: 50%;
  left: auto;
  right: 15px;
  display: block;
  width: 8px;
  height: 8px;
  margin: -4px 0 0;
  border: 1px solid #4d4d4d;
  border-width: 1px 1px 0 0;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}
.mobile-navigation-sub-menu-heading-cancel {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #9498a6;
  padding-top: 8px;
}
.mobile-navigation-menu span {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.mobile-navigation-sub-menu-heading:hover
  .mobile-navigation-sub-menu-heading-cancel,
.mobile-navigation-sub-menu-heading:focus
  .mobile-navigation-sub-menu-heading-cancel {
  color: $main;
}
.header-menu ul > li.is-parent > a span {
  position: relative;
}
.header-menu ul > li.is-parent > a span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: auto;
  right: 18px;
  display: block;
  width: 8px;
  height: 8px;
  margin: -4px 0 0;
  border: 1px solid #4d4d4d;
  border-width: 1px 1px 0 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header-menu ul > li > a:hover span:after,
.header-menu ul > li > a:focus span:after {
  border-color: #fff;
}
.header-menu-head {
  display: none;
}
//primary
.primary {
  position: relative;
}
.primary-bg {
  width: 100%;
  position: absolute;
  z-index: 0;
  height: calc(100% + 48px);
  top: -48px;
}
.primary-bg-box-picture {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.primary-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 1;
  padding: 63px 0 60px;
}
.primary-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  margin: 0;
  color: $main;
  padding: 0;
  margin-bottom: 16px;
  span {
    color: #78cbff;
    white-space: nowrap;
  }
}
.primary-description {
  font-size: 18px;
  line-height: 24px;
  margin-top: 16px;
  margin: 0;
}
//projects-links
.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
.section-title-link {
  display: flex;
  align-items: center;
}
.section-title-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #72c1f2;
  img,
  svg {
    width: 24px;
    height: 24px;
    object-fit: cover;
  }
}
.projects-links .section-title-link {
  display: none;
}
.projects-links-item-info-box {
  top: -100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #263066;
  opacity: 0.92;
  padding: 15px;
  img,
  svg {
    width: 24px;
    height: 24px;
    object-fit: cover;
    position: relative;
    top: 1px;
    color: white;
  }
  span {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    & + span {
      margin-top: 20px;
    }
  }
}
.projects-links-items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
.projects-links-item {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.35s linear;
  &:hover,
  &:focus {
    .projects-links-item-info-box {
      top: 0;
    }
  }
}
.projects-links-item-img {
  @include container-img;
  padding-bottom: 66%;
  img {
    @include img;
  }
}
.projects-links-item-img-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 55.56%,
    rgba(38, 42, 66, 0.8) 100%
  );
}
.projects-links-item-title {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.projects-links-items-inner {
  margin-bottom: 32px;
}
.projects-links {
  .show-all {
    text-align: center;
    display: block;
    width: 100%;
  }
  margin-bottom: 60px;
}
//experience-short
.experience-short {
  margin-bottom: 50px;
}
.experience-short-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.experience-short-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f7f9ff;
  border-radius: 5px;
  padding: 32px 5px;
}
.experience-short-item-img {
  position: relative;
  padding-bottom: 16px;
  margin-bottom: 16px;
  &:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 2px;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    background: #78cbff;
  }
  img {
    width: 48px;
    height: 48px;
    object-fit: cover;
  }
}
.experience-short-item-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $main;
  span {
    font-weight: 600;
  }
}
.experience-short-certificates {
  margin-top: 40px;
}
.experience-short-certificates {
  white-space: nowrap;
  overflow: auto;
  scrollbar-width: thin;
  display: flex;
}
ul.experience-short-certificates-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-bottom: 10px;
  gap: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: 0 0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #e9e7e7;
    border-radius: 5px;
    border: transparent;
  }
  a {
    display: block;

    img {
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      width: 129px;
      height: 74px;
      object-fit: cover;
    }
  }
}
//feedback
.feedback-slider-inner {
  .swiper-slide {
    height: auto;
  }
  .swiper-wrapper {
    padding-bottom: 48px;
  }
  .swiper-pagination {
    bottom: 0;
    display: flex;
    width: 100%;
  }
  .swiper-pagination-bullet {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    border-radius: none;
    background: 0 0;
    font-size: 15px;
    opacity: 1;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    padding-right: 0;
    min-height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9498a6;
    gap: 12px;
    &.swiper-pagination-bullet-active {
      &::after {
        background: #78cbff;
      }
    }
    .number {
      display: none;
    }
    &:first-child {
      .number {
        display: block;
      }
      .swiper-pagination-bullet {
        width: 100%;
      }
    }
    &:last-child {
      .swiper-pagination-bullet {
        width: 100%;
      }
      .number {
        order: 1;
        display: block;
      }
    }
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background: #eee;
      transition: 0.25s;
    }
  }
}
.feedback-slider-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 32px 15px 32px;
  display: block;
  height: 100%;
  &:hover,
  &:focus {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
}
.feedback-slider-item-title {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
  color: $main;
  margin-bottom: 8px;
}
.feedback-slider-item-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #9498a6;
  margin-bottom: 24px;
  span {
    display: block;
  }
}
.feedback-slider-item-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $main;
  margin-bottom: 40px;
}
.feedback-slider-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  img,
  svg {
    width: 24px;
    height: 24px;
    object-fit: cover;
    stroke: #72c1f2;
    color: #72c1f2;
  }
  span {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #72c1f2;
    border-bottom: 1px dashed #72c1f2;
  }
}
.feedback {
  margin-bottom: 60px;
}
//footer
.footer {
  background: #f7f9ff;
}
.footer-top {
  padding: 49px 0 18px;
  border-bottom: 1px solid #e8e8e8;
}
.footer-top-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: $main;
  .navigation-icons {
    padding-top: 24px;
  }
}
.footer-top-tel {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: $main;
}
.footer-top-adress {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.footer-top-mail {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 2px;
  border-bottom: 1px dashed #72c1f2;
  color: #72c1f2;
  &:hover,
  &:focus {
    border-color: transparent;
  }
}
.footer-bottom {
  padding: 8px 0;
}
.footer-bottom-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-bottom-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #9498a6;
}
//modal
.modal {
  padding: 42px 22px;
}

.modal-inner {
  .btn {
    display: block;
    width: 100%;
    margin-bottom: 16px;
  }
}
.modal-input {
  border: 1px solid #e2e2e4;
  border-radius: 16px;
  padding: 12px 18px;
  &:focus,
  &:active {
    border-color: transparent;
    outline: 1px solid #78cbff;
  }
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9498a6;
  }
}
.modal-select {
  background: url(../img/svg-origin/chevron-down.svg) center/24px 24px no-repeat
    #fff;
  display: block;
  width: 100%;
  padding: 12px 56px 12px 18px;
  outline: 0;
  appearance: none;
  background-position: calc(100% - 14px);
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #818491;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #9498a6;
  border: 1px solid #e2e2e4;
  box-sizing: border-box;
  border-radius: 16px;
  &:focus,
  &:active {
    border-color: transparent;
    outline: 1px solid #78cbff;
  }
}
.modal-info-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: $main;
  text-align: center;
  margin-bottom: 8px;
}
.modal-info-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $main;
  text-align: center;
}
.modal-info-inner {
  margin-bottom: 24px;
}
.modal-inputs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-bottom: 16px;
}
.web-check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #9498a6;
  a {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #9498a6;
  }
}
.modal-textarea {
  resize: none;
  padding: 12px 18px;
  border-bottom: 1px solid #ddd;
  min-height: 96px;
  outline: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #e2e2e4;
  border-radius: 16px;
  &::placeholder {
    color: #9498a6;
  }
  &:focus,
  &:active {
    border-color: transparent;
    outline: 1px solid #78cbff;
  }
}
.modal .fancybox-button {
  opacity: 1;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c5ced7;
  top: 6px;
  right: 6px;
  &:hover,
  &:focus {
    color: $main;
  }
}
.fancybox-bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    rgba(38, 48, 102, 0.65);
}
.modal .fancybox-button svg {
  width: 24px;
  height: 24px;
}
.fancybox-slide--html {
  padding: 5px;
}
//breadcrumbs
.breadcrumbs {
  padding: 24px 0 8px;
}
.breadcrumbs-list {
  display: inline-block;
  li {
    display: inline-block;
    a {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #9498a6;
      &:hover,
      &:focus {
        color: #72c1f2;
      }
      span {
        font-size: 10px;
        position: relative;
        top: -1px;
      }
    }
  }
}
.breadcrumbs-list-item.active {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #72c1f2;
}
.page-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}
.page-title-box {
  margin-bottom: 32px;
}
.page-inner {
  padding-bottom: 60px;
}
.feedback-page-items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
.feedback-control {
  text-align: center;
  margin-top: 32px;
  .btn {
    display: block;
    width: 100%;
  }
}
//text-page
.text-page {
  & :first-child {
    margin-top: 0;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 24px 0;
    color: $main;

    b {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      display: inline-block;
    }
    a {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-decoration-line: underline;
      color: #72c1f2;
      display: inline-block;
    }
    i {
      font-style: italic;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #9498a6;
      display: inline-block;
    }
  }
  img {
    display: block;
    max-width: 100%;
    margin: 24px 0;
  }
  h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: $main;
    margin: 40px 0 16px;
  }
  h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin: 40px 0 16px;
  }
  ul,
  ol {
    display: block;
    padding: 0;
    margin: 16px 0 40px;
    li {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $main;
      padding-left: 30px;
      position: relative;
      & + li {
        margin-top: 8px;
      }
    }
  }
  ul {
    li::before {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      background: #78cbff;
      left: 0;
      top: 9px;
      border-radius: 50%;
    }
  }
  ol {
    li::before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #78cbff;
    }
  }
  ol > li::before {
    content: counter(step-counter) "";
  }
  ol > li {
    counter-increment: step-counter;
  }
  .img-right {
  }
  .img-left {
  }
  &::after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
  }
  blockquote {
    margin: 16px 0 40px;
    padding: 24px 16px 24px 16px;
    background: #f7f9ff;
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $main;
      padding-left: 16px;
      border-left: 2px solid #78cbff;
      margin: 0;
    }
    b {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      padding-top: 16px;
      color: $main;
      padding-left: 16px;
      border-left: 2px solid #78cbff;
      margin: 0;
    }
  }
  .responsive-table {
    max-width: 100%;
    overflow-x: auto;
    margin-bottom: 40px;
    box-shadow: 0 0 0 2px #eee;
    table {
      width: 100%;
      border-collapse: collapse;
      thead {
        tr {
          background: #78cbff;
          th {
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: #ffffff;
            text-align: left;
            padding: 14px 8px;
            &:first-child {
              padding-left: 16px;
            }
            &:last-child {
              padding-right: 16px;
            }
          }
        }
      }
      tbody {
        tr {
          background: #ffffff;
          &:nth-child(2n) {
            background: #f7f9ff;
          }
          td {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            padding: 14px 8px;
            color: $main;
            &:first-child {
              padding-left: 16px;
            }
            &:last-child {
              padding-right: 16px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .header-menu ul > li > a span,
  .header-menu-footer,
  .mobile-navigation-menu span {
    max-width: 540px;
  }
  //primary 576
  .primary-inner {
    padding: 71px 0;
  }
  //projects-links
  .projects-links-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects-links .section-title-link {
    display: flex;
  }
  .projects-links {
    .show-all {
      display: none;
    }
  }
  //experience-short
  .projects-links {
    margin-bottom: 80px;
  }
}
@media (min-width: 768px) {
  .title {
    font-size: 32px;
    line-height: 40px;
  }
  .header-box-feedback {
    span {
      display: initial;
    }
    img,
    svg {
      display: none;
    }
  }
  .menu-btn {
    margin-left: 30px;
  }
  .header-menu ul > li > a span,
  .header-menu-footer,
  .mobile-navigation-menu span {
    max-width: 720px;
  }
  //primary 768
  .primary-inner {
    min-height: 452px;
    padding: 80px 0;
  }
  .primary-title {
    font-size: 40px;
    line-height: 48px;
  }
  .primary-title {
    margin-bottom: 24px;
  }
  .primary-inner {
    max-width: 552px;
  }
  .section-title {
    margin-bottom: 48px;
  }
  //projects-links
  .projects-links-items {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  //.experience-short
  .experience-short-items {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  ul.experience-short-certificates-list a img {
    width: 145px;
    height: 84px;
  }
  .experience-short {
    margin-bottom: 70px;
  }
  .experience-short-certificates {
    margin-top: 54px;
  }
  .feedback-slider-inner .swiper-wrapper {
    padding-bottom: 56px;
  }
  .feedback {
    margin-bottom: 70px;
  }
  .feedback-slider-item {
    padding-left: 32px;
    padding-right: 32px;
  }
  .footer-top {
    padding-bottom: 32px;
  }
  .footer-top-inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 40px;
  }
  .footer-top-adress {
    max-width: 162px;
  }
  .footer-top-inner .navigation-icons {
    padding-top: 0;
  }
  .footer-bottom-inner {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-bottom {
    padding: 17px 0;
  }
  //modal
  .modal {
    padding: 64px;
    max-width: 566px;
    width: 100%;
  }
  .modal .fancybox-button {
    top: 14px;
    right: 14px;
  }
  .modal-title {
    font-size: 32px;
    line-height: 40px;
  }
  .modal-info-inner {
    margin-bottom: 48px;
  }
  .modal-input {
    padding: 12px 24px;
  }
  .modal-select {
    padding-left: 24px;
    padding-right: 60px;
  }
  .modal-textarea {
    padding-left: 24px;
    padding-right: 24px;
  }
  .fancybox-slide--html {
    padding: 15px;
  }
  .page-title {
    font-size: 32px;
    line-height: 40px;
  }
  .page-title-box {
    margin-bottom: 48px;
  }
  .page-inner {
    padding-bottom: 70px;
  }
  .feedback-page-items {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  .feedback-control {
    .btn {
      display: inline-block;
      max-width: 209px;
    }
  }
  .text-page .img-right {
    float: right;
    max-width: calc(50% - 30px);
    margin: 0 0 30px 30px;
    position: relative;
    &::after {
      visibility: hidden;
      display: block;
      content: "";
      clear: both;
      height: 0;
    }
  }
  .text-page .img-left {
    float: left;
    margin: 0 30px 30px 0;
    position: relative;
    max-width: calc(50% - 30px);
    &::after {
      visibility: hidden;
      display: block;
      content: "";
      clear: both;
      height: 0;
    }
  }
  .text-page blockquote {
    padding: 30px;
  }
  .text-page h2 {
    font-size: 24px;
    line-height: 32px;
    margin: 48px 0 33px;
  }
  .text-page .responsive-table {
    margin-bottom: 32px;
  }
}
@media (min-width: 992px) {
  .content {
    margin-top: 80px;
  }
  .header-menu,
  .header-menu.active {
    min-height: 100vh;
  }
  .header-menu ul > li > a span,
  .header-menu-footer,
  .mobile-navigation-menu span {
    max-width: 960px;
  }
  .header-menu.active {
    width: calc(50% - 10%);
  }
  .header {
    .header-menu-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .header-menu-head {
      padding: 24px 30px 88px;
    }
    .header-menu ul > li > a span,
    .mobile-navigation-menu span {
      padding-left: 30px;
      padding-right: 30px;
    }
    .header-menu ul > li.is-parent > a span::after,
    .mobile-navigation-menu
      span.mobile-navigation-sub-menu-heading-title:after {
      right: 33px;
    }
    .mobile-navigation-menu .first-level {
      top: 133px;
    }
    .header-box {
      .header-box-logo {
      }
    }
    .header-menu-footer {
      padding-bottom: 30px;
      padding-right: 30px;
      padding-left: 30px;
    }
  }
  .header-menu {
    top: 0;
  }
  .header-menu.active {
    padding-top: 0;
  }
  .mobile-navigation-box > ul {
    max-height: calc(100vh - 231px);
  }
  .mobile-navigation-sub-menu {
    max-height: calc(100vh - 231px);
  }
  .header-menu.active {
    z-index: 99;
  }
  .header.open-menu .header-wrapper {
    box-shadow: none;
  }
  .header-box-logo-top {
    transition: all 0.3s;
  }
  .header.open-menu {
    .header-box-logo-top {
      opacity: 0;
      pointer-events: none;
    }
  }
  .header-menu.active {
    box-shadow: -2px 5px 10px rgba(0, 0, 0, 0.1);
  }
  .header-wrapper {
    padding: 24px 0;
  }
  .content {
    margin-top: 80px;
  }
  //primary 992
  .primary-bg {
    top: -80px;
    height: calc(100% + 80px);
  }
  .primary-inner {
    min-height: 338px;
  }
  //experience-short
  .projects-links {
    margin-bottom: 100px;
  }
  .feedback {
    margin-bottom: 80px;
  }
  .footer-top {
    padding-bottom: 48px;
  }
  .footer-top-adress {
    max-width: 100%;
  }
  .page-inner {
    padding-bottom: 80px;
  }
  .feedback-control {
    .btn {
      display: inline-block;
      max-width: 300px;
    }
  }
}
@media (min-width: 1200px) {
  .header-menu.active {
    max-width: 414px;
  }
  .experience-short {
    margin-bottom: 90px;
  }
  .feedback {
    margin-bottom: 100px;
  }
  .page-inner {
    padding-bottom: 100px;
  }
  .feedback-page-items {
    grid-template-columns: repeat(3, 1fr);
  }
  .feedback-control {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    .btn {
      max-width: none;
      grid-column: 2/3;
    }
  }
  .text-page blockquote p {
    padding-left: 30px;
  }
  .text-page blockquote b {
    padding-left: 30px;
  }
  .primary-inner {
    padding: 100px 0;
  }
  .experience-short {
    margin-bottom: 100px;
  }
}
@media (min-width: 1680px) {
  //primary 1500
  .primary-inner {
    min-height: 460px;
  }
  .title {
    font-size: 40px;
    line-height: 48px;
  }
  .primary-title {
    font-size: 54px;
    line-height: 48px;
  }
  .primary-inner {
    max-width: 758px;
  }
  .page-title {
    font-size: 40px;
    line-height: 48px;
  }
  .feedback-control {
    .btn {
    }
  }
  .text-page h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 64px 0 49px;
  }
  .text-page .responsive-table {
    margin-bottom: 48px;
  }
}
